<button class="addUser" (click)="open()">Add New User</button>


<form #usersForm="ngForm" (ngSubmit)="saveUser(usersForm.value)">

  <div class="modal-body" *ngIf="display$ | async">
    <div class="modal">
      <input class="modal-form" type="text" ngModel name="first" placeholder="First Name">
      <input class="modal-form" type="text" ngModel name="last" placeholder="Last Name">
      <input class="modal-form" type="email" ngModel name="email" placeholder="Email">
    </div>
    <button type="submit" class="add">add user</button>
  </div>


</form>




















<!--

<form [formGroup]="userProfile" (ngSubmit)="onSubmit()">

  <div class="modal-body" *ngIf="display$ | async">
    <div class="modal">
      <input class="modal-form" type="text" formControlName="first" placeholder="First Name">
      <input class="modal-form" type="text" formControlName="last" placeholder="Last Name">
      <input class="modal-form" type="email" formControlName="email" placeholder="Email">
    </div>
    <button type="submit" class="add">Add User</button>

  </div>


</form> -->
