.addUser {
  align-items: center;
  background-color: #E9E2D0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: flex;
  position: relative;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin-top: -700px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  margin-left: 350px;

}

.modal-body{
  position: relative;
  margin-left: 29%;
  background-color: #F0F0F1;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 777px;
  height: 433px;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  z-index: 1000;
  padding-top: 50px;
}

.add{
  align-items: center;
  background-color: #E9E2D0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin:0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: 200px;
}
.modal {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 15px;
}

.modal-form{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  margin: 10px;
}

.addUser:hover,
.addUser:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.addUser:hover {
  transform: translateY(-1px);
}

.addUser:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.modal-form input::placeholder {
  color: #212529;
  opacity: 0.4;
}

