<div class="cardDescription" *ngIf="(user$ | async) as user">
  <div class="userPhoto">
    <img src={{user?.picture?.large}} alt="avatar">
  </div>
  <div class="container">
    <div class="column">
      <span class="userDescription">First / Last Name: {{user?.name?.first}} {{user?.name?.last}}</span>
      <span class="userDescription">Age: {{ user?.dob?.age}}</span>
      <span class="userDescription">Email: {{user?.email}}</span>
      <span class="userDescription">Phone: {{user?.phone}}</span>
      <span class="userDescription">Id: {{user?.login?.uuid}}</span>
      <span class="userDescription">Gender: {{user?.gender}}</span>
      <span class="userDescription">Location: {{user?.location?.city}}</span>
      <span class="userDescription">Nat: {{user?.nat}}</span>
      <span class="userDescription">Registered: {{user?.registered?.date}}</span>
    </div>
  </div>
  <div class="button">
    <button class="btnBack" (click)="backToHome()">Back</button>
  </div>
