<div class="cardDescription">
  <div class="userPhoto">
    <img src="assets/avatar4.png" alt="Avatar">
  </div>
  <div class="container">
    <div class="column">
      <span class="userDescription">First / Last Name: </span>
      <span class="userDescription">Age: </span>
      <span class="userDescription">Email: </span>
      <span class="userDescription">Phone: </span>
      <span class="userDescription">Id: </span>
      <span class="userDescription">Gender: </span>
      <span class="userDescription">Location: </span>
      <span class="userDescription">Nat: </span>
      <span class="userDescription">Registered: </span>
    </div>
  </div>
  <div class="button">
    <button class="btnBack" (click)="backToHome()">Back</button>
  </div>
