<div class="card" (click)="openUserDescription()">
  <div class="userPhoto">
    <!-- <img src="assets/avatar4.png" alt="Avatar"> -->
    <img src={{user?.picture?.large}} alt="avatar">
  </div>
  <div class="container">
    <button class="btn" (click)="deleteUser()">X</button>
    <div class="column">
      <span class="userInfo">First / Last Name: {{user?.name?.first}} {{user?.name?.last}} </span>
      <span class="userInfo">Age: {{ user?.dob?.age }}</span>
      <span class="userInfo">Email: {{user?.email}}</span>
      <span class="userInfo">Phone: {{user?.phone}}</span>
    </div>
  </div>
