<div class="card">
    <div class="avatar">
        <img src="../../../../../assets/avatar4.png" alt="Avatar" style="width: 100%">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" id="FullName" name="first/last name" placeholder="First Name / Last Name">
                <input type="text" id="Age" name="Age" placeholder="Age">
                <input type="text" id="Email" name="Email" placeholder="Email@example.com">
                <input type="text" id="Phone" name="Phone" placeholder="Phone Number +375(25)252525">
            </div>
        </div>