.card {
    box-sizing: border-box ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    display: flex;
}
.avatar{
    
    justify-content: center;
    background-color: #f2f2f2;
}
.row {
    display: flex;
    margin: 0 -16px;
  }
  
  .col {
    flex: 50%;
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-overflow: ellipsis;
  }
  
  
  
 